@import url(https://fonts.googleapis.com/css?family=Muli|Montserrat|Playfair+Display+SC);

:root {
  --darkteal: #596e79;

  --tan: #c7b198;
  --mediumSand: #dfd3c3;
  --sand: #f0ece2;
  --Muli: "Muli", sans-serif;
  --BigText: "Playfair Display SC", serif;
  --NormalText: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0vh 3vw;
  height: 99vh;
  padding: 0vh;
  border-bottom: 1px dotted rgb(248, 22, 199);
  font-family: var(--Muli);
  color: red;
  font-size: 5vh;
}


#nav {
  height: 6vh;
  max-height: 6vh;
  margin: 0 1vw;
  padding: 0;
  /* border-bottom: 1px solid var(--darkteal); */
  position: sticky;
}

.navLogo {
  /* width: 40vw; */
  margin: 0;
  padding: 0;
  /* border: 2px solid yellowgreen; */
  float: left;
  text-align: left;

  font-size: 4vh;
  line-height: 6vh;
  max-height: 6vh;
  color: var(--darkteal);
  font-family: var(--BigText);
  letter-spacing: .2vw;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#menu {
  width: 30vw;
  margin: 0;
  padding: 0;
  /* border: 2px solid orange; */
  float: right;

  line-height: 7vh;
  max-height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* background-color: DodgerBlue; */
}

.menuitem {
  margin: 0;
  font-size: 2vh;
  color: var(--darkteal); 
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;


}
.menuitem:hover {
  background-color: var(--sand);
  margin-bottom: 0.5px;
}

a * {
  color: var(--darkteal);
}

.appheader {
  height: 90vh;
  border-bottom: 2px solid rgb(22, 248, 116);
}

#container {
  height: 84vh;
  object-fit: none;
  overflow: hidden;
  
}

.main-image {
  margin: 0 auto;
  width:100vw;
  height:auto;
  opacity: 0.1;
  object-position: -50px -35vh;


}

.block{
  background-color: var(--mediumSand);
  z-index: 1;
 
}