@import url(https://fonts.googleapis.com/css?family=Muli|Montserrat|Playfair+Display+SC|Stalemate);

:root {
  --darkteal: #596e79;
  --tan: #c7b198;
  --mediumSand: #dfd3c3;
  --sand: #f0ece2;
  --Muli: "Muli", sans-serif;
  --BigText: "Playfair Display SC", serif;
  --NormalText: "Montserrat", sans-serif;
  --quote:'Stalemate', cursive;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c7b198;
  z-index: 999999;
}

.spinner {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 50px;
  height: 50px;
  /* position: relative; */
}

.cube1,
.cube2 {
  background-color: #596e79;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 3.8s infinite ease-in-out;
  animation: sk-cubemove 3.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}


.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
  padding: 0 !important;
}

[class*="col-"] {
  float: left;
}

* {
  box-sizing: border-box;
}

body {
  height: auto;

  padding: 0vh;
  /* border-bottom: 5px dotted rgb(248, 22, 199); */
  font-family: var(--Muli) !important;
  color: var(--darkteal) !important;
  font-size: 5vh !important;
  margin: 0 2vw !important;
}

#nav {
  height: 6vh;
  max-height: 6vh;
  padding: 0;
  position: sticky;
  /* transition: 0.2s; */
}

.navLogo {
  margin: 0 1vw;
  padding: 0;
  float: left;
  text-align: left;
  font-size: 4vh;
  line-height: 6vh;
  max-height: 6vh;
  color: var(--darkteal);
  font-family: var(--BigText) !important;
  letter-spacing: 0.2vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

#menu {
  width: 30vw;
  margin: 0;
  padding: .8vh 0 0;

  float: right;
  line-height: 6vh;
  max-height: 6vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.menuitem {
  margin: 0;
  font-size: 2vh;
  line-height: 6vh;
  color: var(--darkteal);
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex: 1; 
}
.menuitem:hover {
  background-color: var(--sand);
  margin-bottom: 0.5px;
  cursor: pointer;
}

.respMenu{
  display: none;

}

a * {
  color: var(--darkteal);
}

.white {
  background-color: white;
  z-index: 2;
}
.darkteal {
  background-color: var(--darkteal);
  z-index: 2;
  color: white;
}

/* ----Home---- */
.home-header {
  height: 90vh;
  width: 100%;
  position: relative;
  -webkit-animation: slideInUp 1.7s ;
  animation: slideInUp 1.7s ;
}

#imgcontainer {
  height: 100%;
}

.main-image {
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  opacity: 0.7;
  object-position: 0 100%;
  z-index: -100;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
}

.block {
  display: none;
}

.stack {

width: 40%;
 font-style: italic;
 text-align: right;
  position: absolute;
  right: 0;
  top: 40%;
 /* border: 1px solid red */
 display: flex;
flex-wrap: wrap;

}

.stacks{
  font-size: 4vw;
  /* text-shadow: .5px .5px 0px var(--darkteal); */
  line-height: 3vw;
  letter-spacing: .1vw;
  font-family: var(--quote);
  color: var(--darkteal);
  background-image: linear-gradient(to left,#d5c4b1ec, transparent);
  margin:0;
  padding: 0 20px 0 0;

  flex: 0 0 100%;
  border-radius: 2px;

  /* border: 1px solid purple */

}
.top{
  line-height: 2vw;
  z-index: 10;

}

.middle{
  padding: 1.5vh 0;
  z-index: 5;
}

 .smaller{
  font-size: 2.5vw;
  display: inline-block;
  margin-bottom:0;
}


.logito {
  justify-content: center;
  margin:1% 50%;
  bottom: 0;
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  width: 30px;
  height: 30px;
  opacity: .65;
  -webkit-animation: bounce 2s infinite ;
  animation: bounce  2s infinite ;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* .block {
  background-color: var(--mediumSand);
 
  height: 3.3vh;
  width: 29vw;
  position: absolute;
  right: 3vw;
  top: 32vh;
  opacity: 0.45;
  box-shadow: 1.1vw 0.5vw 1vw var(--tan);
}

.stack {
  line-height: 4vh;
  letter-spacing: 3px;
  position: absolute;

  top: 29.7vh;
  color: var(--darkteal);
  font-family: var(--BigText);
  font-size: 2.3vw;
  font-weight: 100;
} */

/* ----ABout---- */
.about-container {
  margin: 20vh 0;
  height: 50vh;
  padding: 30vh 0 ;

}

.iAm-label {
  background-color: var(--darkteal);
  /* float: left; */
  padding: 0 ;
  /* border: 2px solid orange; */
  height: 100%;
  box-shadow: 2px 7px 40px rgb(72, 70, 70);
  
  position: relative;
  display: inline-block;
  

}

.dots {
  color: var(--darkteal);
  letter-spacing: 0vw;
}

/* .iAm-block {
  background-color: var(--tan);
  height: 2.5vh;
  width: 12.5vw;
  opacity: 0.7;
  clear: both;
  position: absolute;
  top: 6vh;
  left: 7vw;
  z-index: 0;
} */

.iAm-stack {
  color:white;
  margin: 0% auto;
  top: 50%;
  left: 50%;
font-family: var(--BigText);
position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
}

.iAm-merp {
  height: 100%;
  margin: 0;
  position: relative;
  top: 50%;
  left: 41.5%;
  transform: translate(-50%, -50%);
  padding: 0;
line-height: 3.5vh;
  letter-spacing: 0.105vw;
  font-size: 2.5vh;
  text-align: justify;
}
  .iAm-merp  p{
    position: absolute;
    top: 50%;  
    left: 51%;
    width: 95%;
    transform: translate(-50%, -50%);

  }




/* ----Work---- */

/* .work-label {
  position: relative;
  top: -14vh;
  right: 0vw;
  float: right;
  z-index: 70;
  height: 20vh;
  background-color: var(--tan);
  width: 30vw; 
} */
.work-block {
  background-color: var(--tan);
  height: 2.5vh;
  width: 21vw;
  opacity: 0.75;
  clear: both;
  position: absolute;
  top: 4.8vh;
  right: -1vw;
  z-index: 80;
}

.work-stack {
  letter-spacing: 2px;
  position: absolute;
  /* color: white; */
  color: white;
  font-family: var(--BigText);
  font-size: 6.2vh;
  line-height: 6vh;
  font-weight: 100;
  top: 1vh;
  right: 2vw;
  z-index: 90;
}

.slides {
  background-color: #596e79 ;
  opacity: .8;
  margin: 2vh auto ;
  padding: 13vh 0 0 !important;
  z-index: -50;
  position: relative;
  width: 100vw;
  height: 100%;
  box-shadow: 2px 5px 50px grey

}

.sliderow,
.sliderow2{
  display: inline-block

}
.sliderow1{
  margin: 5vh 0 0vh 0;
 
}

.sliderow2{
  margin: 5vh 0 5vh 0;
}

/* .carousel {
  height: 85vh;
  position: relative;
  width: 90vw;
  margin: 0vh auto;
  z-index: 50;
  opacity: 1;
  display: flex;

  justify-content: center;
  align-content: center;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.card {
  float: left;
  width: 320px;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin: 1vh 0 0 0;
  text-align: center; 
  box-shadow: 1px 7px 40px rgb(72, 70, 70) !important;
  position: absolute;

}

.card-text {
  overflow: scroll;
}

.card-col {
  width: 33.33%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/* .carousel-indicators {
  bottom: 0px !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw !important;
  height: 4vh !important;
  background-color: var(--mediumSand) !important;
  border-radius: 10vw;
}
.carousel-control-prev {
  left: -3.8vw !important;
  z-index: 2 !important;
}
.carousel-control-next {
  right: -3.8vw !important;
} */
button {
  width: 98%;
  
}

.btn {
  top: 0vh ;
  position: relative;
  left: 0;
  z-index: 1 !important;

  background-color: var(--tan) !important;
  color: #fff !important;
  margin: 0 auto;


  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn:hover,
.btn:focus,
.btn:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


.btn.btn-md .fa {
  /* font-size: .8rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important; */

  display: none;
 
}

.img-fluid,
.mask {
  height: 250px !important;
  max-height: 250px;
  object-fit: fill;
}



.work-text {
  color: var(--tan) !important;
  /* text-shadow: 0.15px 0.5px var(--darkteal); */
}

/* ----Contact---- */

.contact-container {
  margin: 1vh auto 3.5vh;
  position: relative;
  height: 60vh;
  padding: 0vw ; 
  display: inline-block;

}

.contact-label {
  background-color: var(--sand);
  float: left;
  padding:0;
  height: 100%;
  width: 16.66%;
  margin:0;
  left: 0vw;
  position: absolute;
  box-shadow: 2px 7px  40px rgba(72, 70, 70, 0.774);

}

.contact-block {
  background-color: var(--tan);
  height: 2.5vh;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  top: 5.5vh;
  left: 5.5vw;
  clear: both;  
  
}

.empty {
  width: 16.66% !important;
}

.contact-stack {
  letter-spacing: 2px;
  position: absolute;
  color: var(--darkteal);
  font-family: var(--BigText);
  font-size: 6vh;
  font-weight: 100;
  top: 0vh;
  left: 6vw;
}

.contact-p {

  font-family: var(--BigText);
  text-align: right;

  width: 100%;
  
  padding: 0 .5vw;
  letter-spacing: 1.5px;

  position: absolute;
  top: 19vh;
  right:0;

  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.contact-p > span {
  padding: .5vw 0;
  font-size: 1.8vh;
  font-weight: bold;
}

.uno {
  order: 1;
  -webkit-order: 1;
  flex: 0 0 100%
}

.dos {
  order: 2;
  -webkit-order: 2;
  flex: 0 0 100%
}

.tres {
  order: 3;
  -webkit-order: 3;
  flex: 0 0 100%;

}


#social {
  position: absolute;
  bottom: 18vh;
  right:0;
  padding: .5vw;

  
}

.exp {
  height: 2vw !important;
  width: 2vw !important;
}

.fab {
  padding-left: 0.35vw;
  padding-bottom: 2vh;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-transition-property: transform;
  transition-property: transform;

  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.fab:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.contact-form {
  /* border: 2px solid pink; */
  font-size: 1vh;
  height: 100%;
  padding: 11vh 1vw;
  position: relative;
  margin: 0 auto;
  width: 33.33%;
  left:-.9vw;

}

.form-btn {
  width: 80%;
  /* background-color: var(--mediumSand); */
  background-image: linear-gradient(180deg, var(--sand) 0%, var(--tan) 80%);
  color: var(--darkteal);
  font-size: 1.1vw;
  font-weight: 800;
  line-height: 1vw;
  /* letter-spacing: 2px; */
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

}


  /* Skew Forward */
  .hvr-skew-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    box-shadow: 0 5px 10px -4px var(--darkteal);

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-skew-forward:hover,
  .hvr-skew-forward:focus {
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
  }

.form-btn:active {
  background-image: linear-gradient(0deg, var(--sand) 0%, var(--tan) 80%);
}


 .touch {
  position: absolute;
  right:0;
  display: block;
  padding:5% 5% ;
  margin: 0 auto;
  top:0;
  width: 33.33%;
  height: 52.55vh;
text-align: center;

}



.contact-reach {
  font-family: var(--BigText);
  line-height: 5vh;
  margin: 4vh 0;
} 

.merp {
  line-height: 3vh;
  margin:0;
  letter-spacing: 0.205vw;
  font-size: 2vh;
  position: relative;
  height: auto;
  max-width: 100%;
  padding: 2vh 2vw 0;

}
.hi {
  font-style: italic;
  font-size: 3vh;
  color: var(--tan);
  
}
 .wobble:hover , .wobble:focus{
  -webkit-animation-name: wobble 2s;
  animation-name: wobble 2s;
}



/* ----foooter---- */
.footer-container {
  background-color: var(--darkteal);
  letter-spacing: 0.13vw;
  font-weight: normal;
  height: 20vh;
  margin: 0vw;
  padding: 2vh 2vw;
  /* position: absolute; */
  display: inline-flex;
}

.copy-left,
.copy-middle,
.copy-right {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: var(--mediumSand);
  font-size: 1.5vh;
  flex-direction: inline-flex;
  cursor: pointer;
  padding-left: 0;
}
.copy-left {
  font-family: var(--BigText);
  justify-content: left;
  margin: 0 1vw 
}

.copy-middle > .fab {
  color: var(--mediumSand);
}
.copy-middle > .fab > .exp {
  height: 1.3vw !important;
  width: 1.3vw !important;
  margin: 0 0.85vw;
}

.copy-middle {
  padding-top: 1vh;
  justify-content: center;
}

.copy-right{

right:2vw;
justify-content: flex-end;

}
.copy-right > span {
  margin: 0 1vw;
  text-align: right;

}

