@media (min-width: 1300px) {
  #nav > #menu {
    width: 25vw;
  }
    .slides > .sliderow > .card-col{
      flex-basis: 40%;
     justify-content: center; 
    }
   
    .card{
      max-width: 505px;
      margin: auto 2.5vw;
    }
  .copy-middle > span > .exp {
    height: 3vh !important;
  }
}

@media (min-width: 1054px) {
  .slides {
    margin: 0 auto 8vh;
  }
  .sliderow > .card-col {
    width: 37%;
  }

  .copy-middle > span > .exp {
    width: 2vw !important;
  }

  /* .contact-container > .touch {
    margin: 18vh 0 !important;
  }
  .contact-container > .touch > .merp {
    margin: 24% auto;
  } */
}

@media (min-width: 992px) {
  #imgcontainer > .stack {
    width: 40%;
    text-align: right;
    position: absolute;
    top: 40%;
  }

  .stacks {
    font-size: 4.5vw;
    background-image: linear-gradient(to left, #d5c4b1ec, transparent);
    background-image: linear-gradient(
      to left,
      #d5c4b1ec,
      rgba(255, 255, 255, 0)
    );
    line-height: 3vw;
    margin: 0;
    padding: 0 20px 0 0;
    flex: 0 0 100%;
    border-radius: 2px;
  }
  .top {
    line-height: 2vw;
    z-index: 10;
  }

  .middle {
    padding: 1.5vh 0;
    z-index: 5;
  }

  .smaller {
    font-size: 2.5vw;
    display: inline-block;
    margin-bottom: 0;
  }

 
  .iAm-stack {
    width: auto;
  }
  .iAm-merp {
    font-size: 2.5vh;
  }

  .btn.btn-md {
    padding: 0.7rem 0.6rem;
  }
  .fab > .exp {
 width: 4vh !important;
 margin:0 1vw;
  }

  .merp span{
    display: block
  }

  /* .contact-container {
    margin: 0vh auto 8vh;
    position: relative;
    height: 60vh;
    display: inline-block;
  }

  .contact-container > .contact-label {
    background-color: var(--sand);
    float: left;
    padding: 0;
    height: 100%;
    width: 20%;
    margin: 0 5% 0 0;
    left: 0vw;
    position: absolute;
    box-shadow: -1px 4px 20px rgba(72, 70, 70, 0.774);
  }
  .contact-block {
    background-color: var(--tan);
    height: 2.5vh;
    width: 31vh;
    position: absolute;
    opacity: 0.5;
    top: 5.5vh;
    left: 4vw;
    clear: both;
    display: block;
  }
  .contact-stack {
    letter-spacing: 2px;
    position: relative;
    color: var(--darkteal);
    font-family: var(--BigText);
    font-size: 6vh;
    font-weight: 100;
    top: 0vh;
    left: 5.5vw;
    display: block;
  }

  .contact-p {
    position: absolute;
    text-align: right;
    width: 18.66%;
    letter-spacing: 1.5px;
    top: 21vh;
    left: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .contact-p > span {
    padding: 0.5vw 0;
    font-size: 1.6vh;
    font-weight: bold;
  }

  .uno {
    order: 1;
    -webkit-order: 1;
    flex: 0 0 100%;
  }

  .dos {
    order: 2;
    -webkit-order: 2;
    flex: 0 0 100%;
  }

  .tres {
    order: 3;
    -webkit-order: 3;
    flex: 0 0 100%;
  }

  .contact-p > #social {
    position: relative;
    right: -4.2vw;
    top: -3vh;
    text-align: right;
  }

  .fab > .exp {
    height: 1.8vw !important;
    width: 3vw !important;
    margin: 0;
  }

  .fab:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  .contact-container > .contact-form {
    height: 100%;
    width: 50%;
    padding: 12vh 1vw 0;
    margin: 0;

    font-size: 1vh;
    position: relative;
    left: 24.5%;
  }

  .row.col > .form-btn {
    background-image: linear-gradient(180deg, var(--sand) 0%, var(--tan) 80%);
    color: var(--darkteal);
    font-size: 1.1vw;
    font-weight: 800;
    line-height: 1vw;

    padding: 0;
    left: 0;
  }

  .form-btn:active {
    background-image: linear-gradient(0deg, var(--sand) 0%, var(--tan) 80%);
  }

  .contact-reach {
    font-family: var(--BigText);
    line-height: 3vh;
    margin: 4vh 0;
    background-color: transparent;
    height: 100%;
  }

  .contact-container > .touch {
    width: 25%;
    margin: 16vh 0;
    height: 42%;
    position: absolute;
    right: 0;
    display: block;
  }

  .touch > .contact-reach {
    width: 100%;
    height: 10%;
    font-size: 3vh;
    padding: 0;
    margin: 5% auto 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .touch > .merp {
    top: 0vh;
    height: 50%;
    left: 0;
    margin: 20% auto;
    font-size: 2vh;
    position: absolute;
    padding: 0 11%;
  } */
}

@media (min-width: 878px) {
  .slides > .sliderow {
    justify-content: center;
  }

  .slides > .sliderow > .card-col {
    padding: 0;
    flex-basis: 38%;
    margin: 3vh .5em;
  }
}
@media (min-width: 758px) {
  #nav {
    height: 4vh;
    max-height: 6vh;
    transition: 0.2s;
  }

  .navLogo {
    text-align: left;
    justify-content: left;
    float: left;
    max-width: 50vw;
    margin: 0;
    font-size: 3vh;
    line-height: 6vh;
  }

  #menu {
    width: 30vw;
    margin: 0;
    padding: 0.8vh 0 0;
    float: right;
    line-height: 6vh;
    max-height: 6vh;
  }

  .menuitem {
    margin: 0;
    font-size: 2vh;
    line-height: 5vh;
    color: var(--darkteal);
    float: right;
    text-align: center;
    display: block;
  }
  .menuitem:hover {
    background-color: var(--sand);
    margin-bottom: 0.5px;
    cursor: pointer;
  }

  .respMenu {
    display: none;
  }

  .stack {
    top: 11%;
  }

  .about-container {
    height: 75vh;
  }

  .iAm-merp {
    font-size: 2.3vh;
  }

  .work-block {
    width: 46vw;
  }

  .sliderow > .card-col {
    padding: 0 4.5em;
  }

  .d-md-block {
    display: inherit;
  }

  .contact-label {
    background-color: transparent;
    order: 2;
    height: 30vh;
    position: relative;
    box-shadow: none;
    height: 100%;
  }

  #social {
    position: relative;
    bottom: 0vh;
  }

  .fab {
    padding: 0;
  }

  .exp {
    width: 3.5vw !important;
   
  }

  .contact-form {
    /* padding: 3% 14%; */
    padding: 1% 14%;
    order: 3;
    left: 0vw;
  }

  .input-field.col label {
    left: 1rem;
  }

  .input-field .prefix ~ label {
    margin-left: 3rem;
  }

  .input-field.col .prefix ~ input,
  .input-field.col .prefix ~ textarea {
    width: calc(100% - 3rem - 1rem);
  }

  .touch {
    width: 100%;
    background-color: transparent;
    margin: 0;
  }

  .form-btn {
    justify-self: right !important;
    font-size: 2vh;
    margin: 0 33.5%;
  }
}

@media (min-width: 692px) {
  .card-col {
    padding: 0 3em;
  }
}
